# Environment variables
.env
**/.env

# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Project specific
embeddings.pkl
config.json
testing.ipynb
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
